<div class="container text-center">
  <h1> Meet the team </h1>
  <%= cl_image_tag "hjj1kmnqscmkrz3s1ilf", width: 400, height: 100, crop: :fill %>
  <ul>
    <% @members.each do |member| %>
      <li> Member : <%= member %> </li>
    <% end %>
  </ul>

</div>
